
.LoginContainer {

    width: 100vw;
    height: 185vh;
    background-color: black;
    opacity: 50%;
    z-index: 1010;
}

.LoginContents {

    position: absolute;
    top: 50%;
    width: 500px;
    height: 500px;
    opacity: 100%;
    background-color: black;
    z-index: 1011;
}